h2 {
    font-family: Futura, Verdana;
}

form {
    display: inline-block;
}

#button{
    display: inline-block;
    height:25px;
	width:70px;
	background-color:#990000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 25px;
	text-align:center;
	margin-top:2px;
	padding-top: 5px;
	cursor: pointer;
}

.list {
	font-family: Futura, Verdana;
	color:#000099;
}

span {
	font-family: Arial;
	color: black;
	font-weight: bold;
	margin-right: 4px;
	cursor: pointer;
}

span:hover {
	color: red;
}

.item {
	cursor: default;
}